$mainColor: #2987be;
$mainColor2:#1059b8;


.container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px ;
}

.timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__block{
        width: 150px;
        border-bottom-right-radius:10px ;
        border-bottom-left-radius:10px ;

        .time{
            background-color: $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            color: wheat;
            height: 150px;
            font-size: 95px;
        }


        .title{
            background-color: $mainColor2;
            padding: 5px;
            border-bottom-right-radius:10px ;
            border-bottom-left-radius:10px ;
            text-align: center;
            color: wheat;
        }
    }
}


.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    .button{
        border: none;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        padding: 10px;
        width: 180px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &.start, &.stop{
            background-color: $mainColor;
            &:hover{
                background-color: $mainColor2;
                color: wheat;
            }
        }

        &.pause{
            &:hover{
                background-color: red;
                color: white;
            }
        }
    }
}

    
